{{!-- OM --}}
<div class="container">
  <div class="navbar-header">
    {{!-- <a class="navbar-brand navbar-brand-custom" href="#">HARI OM</a> --}}
    <a class="navbar-brand navbar-brand-custom" href="#">Theme</a>
    <div class="hari-om">OM</div>
  </div>
</div>

